:root {
  --border-width: 10px;
}

/* Universal Styles */
html {
  font-size: 16px;
}

/* Universal Styles */

body {
  background-color: white;
}

.image-container {
}

.image-container img {
}

/* Banner Section */

#banner {
  background-image: url("camel-background.png");
  background-position: center;
  /* adds height to banner relative to default font size */
  height: 46rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h1 {
  border: var(--border-width) solid red;
  font-size: 3.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}

/* Blog Post */

/* container for blog */
#blog {
  border: var(--border-width) solid pink;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86%;
}

/* text content for blog */
#blog .post {
  border: var(--border-width) solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  line-height: 1.8;
  color: #444444;
  width: 52%;
  /* add space to top and bottom */
  margin-top: 12.5%;
  margin-bottom: 7.5%;
}

.post h2 {
  border: var(--border-width) solid orange;
  font-size: 1.875rem;
}

.post h3 {
  border: var(--border-width) solid yellow;
  font-size: 1.125rem;
  color: #999999;
}

.post .opening-line {
  margin-top: 4.1875rem;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: bold;
}

/* container behind guy with food??? */
.post .image-container {
  border: var(--border-width) solid brown;
  width: 100%;
}

/* Blog Images */

.images {
  border: var(--border-width) solid purple;
  margin-bottom: 20%;
}

/* these are the containers for google map and camel photo */
.images .image-container {
  display: inline-block;
  width: 50%;
}

/* Footer */

footer {
  border: var(--border-width) solid green;
  padding: 4rem 0;
  border-top: 1px solid #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #999999;
  text-align: center;
}

p {
  border: var(--border-width) solid aqua;
  /* 
  stop paragraphs from getting smaller than 200px to keep them legible. 
  containers can move freely but p tags have a minimum limit
  */
  min-width: 200px;
  min-height: 200px; /* stops text from spreading to thin */
}
